/* Stile base della pagina */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
}

/* Stile per l'intestazione */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    color: #4CAF50;
}

p {
    font-size: 1.2rem;
    color: #333;
}

/* Stile per il form del cliente */
#formCliente {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formCliente label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#formCliente input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Stile per l'elenco delle essenze */
.essenza-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 15px;
}

.left-column h3 {
    font-size: 1.2rem;
    color: #333;
    margin-top: 0;
}

.right-column {
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.formato-item {
    margin-left: 20px;
}

/* Stile per il pulsante e il totale */
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #45a049;
}

#totaleGlobale {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}

